
.App {
  text-align: center;
  /*background-color: #CBC3E3; */
  background: radial-gradient(ellipse at top, #cbc3e3, transparent),
            radial-gradient(ellipse at bottom, #89cff0 , transparent);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

} 

.tsparticles{
  z-index: -1; 
  position:relative;
}

.ChatbotShell{
  z-index: 1;
  position:relative; 
}





 


