
.App {
  text-align: center;
  background-color: #CBC3E3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

} 

.tsparticles{
  z-index: -1; 
  position:relative;
}

.ChatbotShell{
  z-index: 1;
  position:relative;
}


